@model EntityLayer.Concrete.Destination

@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>
<html lang="tr">

<body>
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container d-flex justify-content-between">
                <div class="col-6">
                    <h2 class="title">Etkinlik Detayları</h2>
                    <ul class="breadcrumbs-custom-path mt-2">
                        <li><a href="/Default/Index">Ana Sayfa</a></li>
                        <li><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span><a href="/DestinationController1/Index">Etkinlikler</a></li>
                        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @Model.DestinationName </li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="d-lg-block d-none">
                        <a href="~/Member/Rezervation/NewRezervation" class="btn btn-style btn-secondary">Rezervasyon Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5 w3l-homeblock1 text-center">
        <div class="container mt-md-3">
            <h3 class="blog-desc-big text-center mb-4" style="text-transform:capitalize">
                <span>Bizimle</span>  @Model.DestinationName <span>Etkinliğine Katılmaya Hazırmısınız</span>
            </h3>
        </div>
    </div>
    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-image">
                    <div class="post-content">
                        <img src="~/CatagoryImage/DogaYuruyus.jpg" style="max-height: 500px; max-width: auto; overflow: visible; display: block; margin: auto;" class="radius-image img-fluid mb-5" alt="" />
                    </div>
                </div>
                <div class="hizala">
                    <div class="single-post-content">
                        <h3 class="blog-desc-big m-0 mb-4 text-center" style="text-transform:capitalize">Etkinlik Detayları</h3>
                        <p class="mb-4">Etkinlik Tarihi: @Model.Date.ToShortDateString()</p>
                        <p class="mb-4">Etkinlik İsmi: @Model.DestinationName</p>

                        @if (ViewBag.des1 != null)
                        {
                            foreach (var item in ViewBag.des1)
                            {
                                <p class="mb-4">@item</p>

                            }
                        }

                        <br />
                        <blockquote class="blockquote my-5">
                            <div class="icon-quote"><span class="fa fa-quote-left" aria-hidden="true"></span></div>
                            UNUTMAYIN DOĞADAN SADECE FOTOĞRAF ALIYOR, SADECE AYAK İZİ BIRAKIYORUZ. KEYİFLİ YÜRÜYÜŞLER.
                            <footer class="blockquote-footer mt-3">
                                Yavuz Koz (Admin)
                            </footer>
                        </blockquote>
                        <br />
                        <h3 class="blog-desc-big m-0 mb-4 text-center" style="text-transform:capitalize">Kurallar</h3>

                        @if (ViewBag.des2 != null)
                        {
                            foreach (var item in ViewBag.des2)
                            {
                                <p class="mb-4">@item</p>

                            }
                        }

                        <br />
                        <h3 class="blog-desc-big m-0 mb-4 text-center" style="text-transform:capitalize">Öneriler</h3>

                        @if (ViewBag.des3 != null)
                        {
                            foreach (var item in ViewBag.des3)
                            {
                                <p class="mb-4">@item</p>

                            }
                        }

                        <br />
                        <div class="sing-post-thumb mb-5 row pt-3">
                            <div class="col-sm-6">
                                <a href="#url"><img src="~/Traversal-Starter/assets/images/g8.jpg" class="img-fluid radius-image" alt=""></a>
                            </div>
                            <div class="col-sm-6 mt-sm-0 mt-3">
                                <a href="#url"><img src="~/Traversal-Starter/assets/images/g9.jpg" class="img-fluid radius-image" alt=""></a>
                            </div>
                        </div>

                        <h3 class="blog-desc-big m-0 mb-4 text-center" style="text-transform:capitalize">@Model.DetailsTitle1</h3>

                        @if (ViewBag.des4 != null)
                        {
                            foreach (var item in ViewBag.des4)
                            {
                                <p class="mb-4">@item</p>

                            }
                        }
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="~/Member/Rezervation/NewRezervation" class="btn btn-style btn-secondary">Rezervasyon Yap</a>
                    </div>
                    @await Component.InvokeAsync("_CommentList", new { id = ViewBag.i })

                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")


                </div>
            </div>
        </div>
        </div>
    </section>
</body>
</html>

