
<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header" style="height:100px;">
            <h4 class="card-title position-sticky" style="top:50%" id="heading-multiple-thumbnails">Profil Bilgilerim</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p class="card-text">
                    Ad Soyad: <span class="font-weight-bold">@ViewBag.userName</span>
                </p>
                <p class="card-text">
                    Kullanıcı Adı: <span class="font-weight-bold">@ViewBag.user</span>
                </p>
                <p class="card-text">
                    Mail Adresi: <span class="font-weight-bold">@ViewBag.email</span>
                </p>
                <p class="card-text">
                    Telefon Numarası: <span class="font-weight-bold">@ViewBag.phoneNumber</span>
                </p>
                <h4 class="card-title mt-5">Hakkımda</h4>
                <p class="card-text">
                    @ViewBag.gender
                </p>
            </div>
        </div>
    </div>
</div>
