@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}

<style>
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius:50%;
    }
</style>

<h1>Kullanıcıları Listesi</h1>

<a href="/LoginController1/SignUp/" class="btn btn-primary mb-3">
    Yeni Kullanıcı Ekle
</a>

<table class=" table table-striped">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Fotoğraf</th>
        <th>Mail</th>
        <th>Düzenle</th>
        <th>Sil</th>
        <th>Yorumlar</th>
        <th>Tur Geçmisi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.Name @item.NamSurname</td>
            <td>@item.UserName</td>
            <td><img src="~/UserImages/@item.Image" /></td>
            <td>@item.Email</td>
            <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-warning">Düzenle</a></td>
            <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-info">Bölümler</a></td>
            <td><a href="/Admin/User/RezarvationUser/@item.Id" class="btn btn-primary">Tur Geçmisi</a></td>
        </tr>
        i++;
    }
</table>

