@model EntityLayer.Concrete.Destination

@{
    ViewData["Title"] = "AddDestinations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Etkinlik Ekleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="DestinationID" />
    <div class="form-group">
        @Html.Label("Şehir Bilgisi")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Gün Gece Bilgisi")
        <input type="text" asp-for="DayNight" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Fiyat")
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Kart Görseli")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Kapasite")
        <input type="text" asp-for="Capacity" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Kapak Görseli")
        <input type="text" asp-for="BackGroundImage" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Etkinlik Detayları")
        <input type="text" asp-for="Details1" class="form-control" />
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Kurallar")
        <textarea cols="30" rows="5" asp-for="Details2" class="form-control"></textarea>
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Öneriler")
        <textarea cols="30" rows="5" asp-for="Details3" class="form-control"></textarea>
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Eklemek istediniz Baslık (Varsa)")
        <input type="text" asp-for="DetailsTitle1" class="form-control">
    </div>
    <br />

    <div class="form-group">
        @Html.Label("Eklemek istediniz Baslığın İçeriği (Varsa)")
        <textarea cols="30" rows="5" asp-for="Details4" class="form-control"></textarea>
    </div>
    <br />
    <br />

    <button class="btn btn-outline-warning mt-2 mb-5" onclick="alert('Etkinlik oluturuldu');">Etkinlik Olustur</button>
    <br />

</form>