@model List<VisiterModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Ziyaretçi Listesi</h1>
<a href="/Admin/Visiter/CreateVisiter/" class="btn btn-outline-success mb-3">Yeni Ziyaretçi Girişi</a>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sehir</th>
        <th>Ülke</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.VisiterID</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.City</td>
            <td>@item.Counter</td>
            <td>@item.Mail</td>
            <td><a class="btn btn-outline-danger" href="/Admin/Visiter/DeleteVisiter/@item.VisiterID">Sil</a></td>
            <td><a class="btn btn-outline-warning" href="/Admin/Visiter/UpdateVisiter/@item.VisiterID">Güncelle</a></td>
        </tr>
    }
</table>

