@using EntityLayer.Concrete
@model List<Rezarvation>


@{
    ViewData["Title"] = "MyActiveRezervation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h1>Aktif Rezervasyonlar</h1>

@if (!Model.Any())
{
    <div class="container mt-5">
        <h4 style="color:crimson">Aktif rezervasyonunuz bulunmamaktadır..</h4>
    </div>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Satısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RezervasyonID</td>
                <td>@item.Destination.City</td>
                <td>@item.MemontCount</td>
                <td>@item.RezarvationDate</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>

}




