@using EntityLayer.Concrete
@model List<Rezarvation>
@{
    ViewData["Title"] = "MyPendingApprovalRezervation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int sayac = 1;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Onay Bekleyen Rezervasyonlar</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Onay Bekleyen rezarvasyonlarınızın listesini görebilirsiniz.</p>
                    <div class="table-responsive">
                        @if (!Model.Any())
                        {
                            <div class="container mt-5">
                                <h4 style="color:crimson">Onay bekleyen rezervasyonunuz bulunmamaktadır..</h4>
                            </div>
                        }
                        else
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Etkinlik Adı</th>
                                        <th>İlçe/ İl</th>
                                        <th>Kişi Satısı</th>
                                        <th>Rezervasyon Tarihi</th>
                                        <th>Etkinlik Tarihi</th>
                                        <th>Ödenecek Tutar</th>
                                        <th>Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        int totalPrice = item.Destination.Price * item.MemontCount;
                                        <tr>
                                            <td>@sayac</td>
                                            <td>@item.Destination.DestinationName</td>
                                            <td>@item.Destination.District/ @item.Destination.City</td>
                                            <td>@item.MemontCount</td>
                                            <td>@item.RezarvationDate.ToString("dd-MMM-yyyy HH:mm")</td>
                                            <td>@item.Destination.Date.ToString("dd-MMM-yyyy HH:mm")</td>
                                            <td>@totalPrice</td>
                                            <td>@item.Status</td>
                                        </tr>
                                        sayac++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>