@model List<EntityLayer.Concrete.Destination>

<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Starter/assets/images/banner1.jpg", "/Traversal-Starter/assets/images/banner2.jpg","/Traversal-Starter/assets/images/banner3.jpg", "/Traversal-Starter/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Hayatın renklerini uzakta aramanıza gerek yok</h3>
                        <h6 class="mb-3">Hayatın renklerini keşfedin</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="/Destination/Search" method="get" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-3 mt-md-0 mt-3">
                                        <select name="categoryId" class="selectpicker">
                                            <option value="">Kategori Seçin</option>
                                            @foreach (var category in Model.Select(m => m.Catagory).Distinct())
                                            {
                                                <option value="@category.CatagoryID">@category.CatagoryName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-input col-md-3 mt-md-0 mt-3">
                                        <select name="city" class="selectpicker">
                                            <option value="" disabled selected hidden>Etkinlik Şehirleri</option>
                                            @foreach (var city in Model.Select(m => m.City).Distinct())
                                            {
                                                <option value="@city">@city</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-input col-md-3 mt-md-0 mt-3">
                                        <select name="district" class="selectpicker">
                                            <option value="" disabled selected hidden>Etkinlik İlçesi</option>
                                            @foreach (var district in Model.Select(m => m.District).Distinct())
                                            {
                                                <option value="@district">@district</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-input col-md-3 mt-md-0 mt-3">
                                        <input type="date" name="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Tarih">
                                    </div>
                                    <div class="bottom-btn col-md-12 mt-sm-4 mt-4">
                                        <button class="btn btn-style btn-success w-100">
                                            <span class="fa fa-search mr-3" aria-hidden="true"></span> Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
