@using X.PagedList
@using X.PagedList.Mvc.Core

@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <a class="btn btn-success mb-1" asp-action="AddBlog" asp-controller="Blog">Blog Ekle</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Blog YAzıları Listesi</h4>
        </div>
        <div class="card-body" style="background-color:lightgray;">
            @foreach (var post in Model)
            {
                <div class="rounded mb-4 bg-white p-2">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-center flex-column">
                            @if (post.ImagePath == null)
                            {
                                <img class="img-fluid" src="~/blogImage/default_image.png" style="object-fit:cover; height:100%; width:100%">

                            }
                            else
                            {
                                <img class="img-fluid" src="~/blogImage/@post.ImagePath" style="object-fit:cover; height:100%; width:100%">
                            }
                        </div>
                        <div class="col-5 d-flex justify-content-center flex-column">
                            <h4 style="font-size:1.5rem; font-weight:bolder;" class="text-primary fw-bold">@post.Title</h4>
                            <p>@post.Created</p>
                        </div>
                        <div class="col-5 text-right d-flex justify-content-center flex-column">
                            <h4 style="font-size:1rem;" class="fw-bold">@post.AppUser.Name</h4>
                            <div class="d-flex justify-content-end align-items-center">
                                <a class="btn btn-warning " asp-controller="Blog" asp-action="UpdateBlog" asp-route-id="@post.BlogId" method="post">Düzenle</a> |
                                <form class="" asp-controller="Blog" asp-action="DeleteBlog" asp-route-id="@post.BlogId" method="post" onsubmit="return confirm('Bloğu silmek iştediğinize Eminmisiniz')">
                                    <button type="submit" class="btn btn-danger">Sil</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

